# Python files
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Environment directories
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Misc
README.md
Dockerfile
.dockerignore